<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC " //mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.community.dao.UserMapper">

    <resultMap id="BaseResultMap" type="com.nowcoder.community.entity.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="activation_code" jdbcType="VARCHAR" property="activationCode"/>
        <result column="header_url" jdbcType="VARCHAR" property="headerUrl"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="selectFields">
        id, username, password, salt, email, type, status, activation_code, header_url, create_time
    </sql>

    <select id="selectById" resultType="User">
        select <include refid="selectFields"></include>
        from user
        where id = #{id}
    </select>

    <select id="selectByName" resultType="User">
        select <include refid="selectFields"></include>
        from user
        where username = #{username}
    </select>

    <select id="selectByEmail" resultType="User">
        select <include refid="selectFields"></include>
        from user
        where email = #{email}
    </select>

    <insert id="addUser" parameterType="com.nowcoder.community.entity.User">
        INSERT INTO user (id, username, password, salt,
                          email, type, status, activation_code,
                          header_url, create_time)
        VALUES (#{id, jdbcType=INTEGER}, #{username, jdbcType=VARCHAR}, #{password, jdbcType=VARCHAR},
                #{salt, jdbcType=VARCHAR}, #{email, jdbcType=VARCHAR}, #{type, jdbcType=INTEGER},
                #{status, jdbcType=INTEGER}, #{activationCode, jdbcType=VARCHAR}, #{headerUrl, jdbcType=VARCHAR},
                #{createTime, jdbcType=TIMESTAMP})
    </insert>

    <update id="updateStatus" parameterType="java.lang.Integer">
        UPDATE user
        set status = #{status, jdbcType=INTEGER}
        WHERE id = #{id}
    </update>
</mapper>